body {
            font-family: Italic;
            background-color: lightblue;
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqm8vpghqHsnbEiKSJYCVdM0-SwUw2net7wQ&s');
        }
        .c {
            width: 250px;
            margin: 100px auto;
            background: white;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 0 10px gray;
        }
        button {
            width: 50px;
            height: 40px;
            font-size: 18px;
            margin: 2px;
            border-radius: 10px;
        }
        input.g {
            width: 210px;
            height: 40px;
            font-size: 18px;
            margin-bottom: 10px;
        }